/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* universal selector */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.main-title{
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 14px;
}
.paragraph{
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.btn-primary{
  padding: 16px 40px;
  background-color: #E6533C;
  border: none;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.10rem;
  font-weight: 600;
  line-height: 22px;
}
.display-flex{
  display: flex;
  align-items: center;
}
.max-width{
  max-width: 1060px;
  margin: 0 auto;
}

/* style main body tag */
.body{
  background-color: #000000;
}

/* header section style here */
.navbar{
  justify-content: space-between;
  margin-top: 30px;
}
.nav-title{
  color: #E6533C;
  line-height: 1.2px;
  font-size: 2.10rem;
}
.nav-item-container{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 39px;
}
.nav-item{
  list-style: none;
  padding: 12px 24px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
}
.home-link{
  background-color: #E6533C;
  border-radius: 46px;
}
.responsive-nav-container{
  display: none;
}
